.gradle/
**/.gradle/
**/build/
!01-Desktop-ERP/build/
01-Desktop-ERP/build/*
!01-Desktop-ERP/build/icon.ico
!01-Desktop-ERP/build/icon.svg
**/dist/
**/node_modules/
**/local.properties
02-Android-Client/BUILD_LOGS/
02-Android-Client/APK_OUTPUT/
*.apk
